# IDE i OS
.DS_Store
.idea/
*.sublime-workspace
*.sublime-project

# Laravel/PHP
/vendor/
/node_modules/
/public/storage
/storage/*.key
.env
.env.local
.env.backup
npm-debug.log
yarn-error.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
.npm/
*.log

# Application
/storage/app/*
!/storage/app/public
/storage/framework/*
/storage/logs/*

/LV2/pr2/backup/
/LV2/pr2/
/LV1/pr1/
/LV2/Z2/encrypted_uploads/
/LV2/Z1/backup/radovi/
